@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;



    <div class="collection-icon">
        <form action="/cards/collection/add" method="post" id="collectionForm">
            <img class="droppable" src="~/img/deck.png">
            <input hidden id="collectionValue" name="url" value="">
        </form>
    </div>
<div class="grid-container">
    <h1>All cards</h1>
    <div>
        @foreach(string img in @ViewBag.Images)
        {
            <img class="draggable card" src="@img"/>
        }
    </div>
    <div>
        @if(@ViewBag.TotalPages > 1)
        {
            <div>
                <form action="/cards/1" method="post" id="allPageForm">
                    <label for="page">Select Page</label><br>
                    <select name="page" id="allPageInput" aria-placeholder="@ViewBag.Page">

                        @for(int i = 1; i < @ViewBag.TotalPages; i++)
                        {
                            @if(@i == @ViewBag.Page)
                            {
                                <option selected value="@i">@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </form>
            </div>
        }
    </div>
</div>