@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;

<div class="grid-container">

    <div>
        <h1>Magic Collection</h1>
    </div>
    <div>
        @if(@ViewBag.Results["images"].Count == 0)
        {
            <h2>Sorry, I have nothing to show you</h2>
        }
    </div>
    <div>
        @if(@ViewBag.Results["images"].Count > 0)
        {
            @foreach(string img in @ViewBag.Results["images"])
            {
                <img class="draggable card" src="@img"/> 
            }
        }
    </div>
    <div>
        <img class="droppable" src="~/img/deck.png">
    </div>
    <div>
        <form action="/cards/1" method="post" id="pageForm">
            <input type="number" min="1" max='@ViewBag.Results["totalPages"]' name="page" id="pageInput">
            <input hidden name="search" value='@ViewBag.Search'>
            <input hidden name="column" value='@ViewBag.Column'>
            <button type="submit">Go</button>
        </form>
    </div>
</div>