@{ Layout = "_Layout"; }
@using MtgApiManager.Lib.Service;
@using MtgApiManager.Lib.Core;
@using MtgApiManager.Lib.Model;

<div class="grid-container">

    <div>
        <h1>Magic Collection</h1>
    </div>
    <div>
        @if(@ViewBag.Results["images"].Count == 0)
        {
            <h2>Sorry, I have nothing to show you</h2>
        }
    </div>
    <div>
        @if(@ViewBag.Results["images"].Count > 0)
        {
            @foreach(string img in @ViewBag.Results["images"])
            {
                <img class="draggable card" src="@img"/>

            }
        }
    </div>
    <div>
        <form action="/cards/collection/add" method="post" id="collectionForm">
            <img class="droppable" src="~/img/deck.png">
            <input hidden id="collectionValue" name="url" value="">
        </form>
    </div>
    @if(@ViewBag.Results["totalPages"] > 1)
    {
        <div>
            <form action="/cards/search/1" method="post" id="pageForm">
                <label for="page">Select Page</label><br>
                <select name="page" id="pageInput" aria-placeholder="@ViewBag.Page">

                    @for(int i = 1; i < @ViewBag.Results["totalPages"]; i++)
                    {
                        @if(@i == @ViewBag.Page)
                        {
                            <option selected value="@i">@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>

                <input hidden name="search" value='@ViewBag.Search'>
                <input hidden name="column" value='@ViewBag.Column'>
            </form>
        </div>
    }
</div>
